In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('season-0910_csv.csv')

In [6]:
data.head()
data.shape
data.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY',
       'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'GBH',
       'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'SBH', 'SBD',
       'SBA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH', 'VCD', 'VCA',
       'BSH', 'BSD', 'BSA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD',
       'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA',
       'BbAvAHA'],
      dtype='object')

In [7]:
data1 = data[['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR']]

In [8]:
data1

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,Bologna,Fiorentina,1,1,D,1,0,H,6,17,4,5,17,20,4,9,1,1,0,0
1,Siena,Milan,1,2,A,1,1,D,15,13,4,5,22,11,5,8,2,1,0,0
2,Catania,Sampdoria,1,2,A,1,1,D,8,8,4,4,29,13,11,4,4,2,1,0
3,Genoa,Roma,3,2,H,0,0,D,14,11,7,6,20,13,8,5,5,2,0,0
4,Inter,Bari,1,1,D,0,0,D,20,13,3,4,20,14,10,1,3,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Catania,Genoa,1,0,H,0,0,D,22,17,5,4,12,16,10,3,1,1,0,1
376,Chievo,Roma,0,2,A,0,2,A,9,16,2,6,8,9,8,5,1,0,0,0
377,Parma,Livorno,4,1,H,1,0,H,25,28,10,12,12,10,4,8,1,0,0,0
378,Sampdoria,Napoli,1,0,H,0,0,D,15,9,5,5,16,23,5,9,1,4,0,0
379,Siena,Inter,0,1,A,0,0,D,6,26,2,6,12,8,5,9,4,2,0,0

In [9]:
hometeam = data1[['HomeTeam','FTHG','FTR','HTHG','HTR','HS','HST','HF','HC','HY','HR']]

In [11]:
awayteam = data1[['AwayTeam','FTAG','FTR','HTAG','HTR','AS','AST','AF','AC','AY','AR']]

In [12]:
season_by_teams = pd.concat(hometeam,awayteam)

/tmp/ipykernel_10418/3198900531.py:1: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  season_by_teams = pd.concat(hometeam,awayteam)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"