In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [13]:
data = pd.read_csv('letter_csv.csv')
data.head(4)

,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx,class
0,2,4,4,3,2,7,8,2,9,11,7,7,1,8,5,6,Z
1,4,7,5,5,5,5,9,6,4,8,7,9,2,9,7,10,P
2,7,10,8,7,4,8,8,5,10,11,2,8,2,5,5,10,S
3,4,9,5,7,4,7,7,13,1,7,6,8,3,8,0,8,H

In [14]:
data.rename(columns={'class':'letter'}, inplace=True)

In [15]:
data.values

array([[2, 4, 4, ..., 5, 6, 'Z'],
       [4, 7, 5, ..., 7, 10, 'P'],
       [7, 10, 8, ..., 5, 10, 'S'],
       ...,
       [4, 8, 4, ..., 3, 7, 'O'],
       [4, 11, 4, ..., 0, 8, 'L'],
       [5, 9, 6, ..., 6, 8, 'Q']], dtype=object)

In [21]:
x = np.array(data)[:, 1:16]

In [25]:
y = np.array(data['letter'])[:]

In [26]:
y

array(['Z', 'P', 'S', ..., 'O', 'L', 'Q'], dtype=object)