In [2]:
import pandas as pd
import numpy as np

In [6]:
#pd.Series?
#pd.DataFrame?

In [7]:
pets = ["lion","cat","dog","fish"]
pets

['lion', 'cat', 'dog', 'fish']

In [8]:
pd.Series(pets) #pravi objekat (Series / kolonu) od liste, indeksi su default intovi od nule

0    lion
1     cat
2     dog
3    fish
dtype: object

In [9]:
days = ["pon","uto","sre","cet","pet"]
classes = ["matematika","engleski","srpski","fizika","hemija"]
pd.Series(classes, index = days) # pravi objekat, ;iji su indexi iz nekog niza

pon    matematika
uto      engleski
sre        srpski
cet        fizika
pet        hemija
dtype: object

In [10]:
days = pd.Series(["pon","uto","sre","cet","pet"],index=["dan 1","dan 2","dan 3","dan 4","dan 5"])

In [11]:
days

dan 1    pon
dan 2    uto
dan 3    sre
dan 4    cet
dan 5    pet
dtype: object

In [15]:
classes1 =  pd.Series(["matematika","engleski","srpski","fizika","hemija"], index="dan 1,dan 2,dan 3,dan 4,dan 5".split(","))
classes1

dan 1    matematika
dan 2      engleski
dan 3        srpski
dan 4        fizika
dan 5        hemija
dtype: object

In [19]:
days +'_' + classes1 #ako imaju iste indekse, serije se mogu sabirati

dan 1    pon_matematika
dan 2      uto_engleski
dan 3        sre_srpski
dan 4        cet_fizika
dan 5        pet_hemija
dtype: object

In [20]:
classes1["dan 2"]

'engleski'

In [26]:
classes1.loc["dan 2"] #daje objekat pod indeksom "dan 2" (kao i zagrade

'engleski'

In [27]:
classes1.iloc[2] #iloc daje objekat pod indexom koji je 2 po redu (int umesto kategorije)

'srpski'

In [28]:
np.random.randn(10,5) #daje matricu 10 redova, 5 kolona, iz normalne raspodele

array([[ 0.15056031, -0.70359712,  2.2404084 ,  0.74884003, -1.9453916 ],
       [-0.35146582,  0.25833477, -0.11005681, -0.65011794,  1.44951578],
       [-0.98337443,  0.9916231 ,  0.73658601, -0.49982549,  2.17307751],
       [-1.62300389, -0.88325837,  0.16517731,  1.1667677 , -1.23159903],
       [ 1.97102435,  1.73470567, -1.43670632, -1.0386341 , -1.05361875],
       [-1.32015719,  0.13332867,  0.39272445, -1.07193423, -0.08873071],
       [ 1.27781917, -1.38120815, -1.47735257,  1.88552434,  1.7763567 ],
       [-1.10082998,  1.04471435, -0.96285705,  0.972912  , -0.70723204],
       [-0.88393133,  0.93579926, -0.45725905,  1.21128641, -0.01282207],
       [ 0.72111126, -0.19967691, -0.28084769,  0.06533006,  0.1423037 ]])

In [30]:
# stavljanje informacija u dataframe, daje ime kolonama i redovima(indexima)
my_dataframe = pd.DataFrame(np.random.randn(10,5),columns="col1,col2,col3,col4,col5".split(","),index="row1,row2,row3,row4,row5,row6,row7,row8,row9,row10".split(","))

In [32]:
my_dataframe

           col1      col2      col3      col4      col5
row1  -1.429960 -0.422057 -2.699671  0.910851  0.651849
row2  -0.721126  0.905256  0.987047 -1.002845 -0.076849
row3  -1.602416 -1.325939 -0.232246 -0.012634  1.338199
row4   0.705934  0.636298  2.387515 -0.458989  1.573588
row5  -0.256346  0.117014 -0.555663  2.337522 -0.616541
row6  -0.776473  0.867676  1.041223  0.137781  0.840287
row7  -0.520079 -0.460014 -0.573226  1.766776 -1.081582
row8  -0.362978  0.279202 -0.137292  0.197732  0.026514
row9   2.071926  1.336749 -1.207104 -1.622328  1.321120
row10 -0.251132  0.447229 -1.987013  0.123522  0.947523

In [35]:
type(my_dataframe["col1"]) #sve kolone su tipa Series

pandas.core.series.Series

In [36]:
my_dataframe["col1"]

row1    -1.429960
row2    -0.721126
row3    -1.602416
row4     0.705934
row5    -0.256346
row6    -0.776473
row7    -0.520079
row8    -0.362978
row9     2.071926
row10   -0.251132
Name: col1, dtype: float64

In [37]:
my_dataframe[["col1","col3"]] #za vise kolona stavljamo dve zagrade!

           col1      col3
row1  -1.429960 -2.699671
row2  -0.721126  0.987047
row3  -1.602416 -0.232246
row4   0.705934  2.387515
row5  -0.256346 -0.555663
row6  -0.776473  1.041223
row7  -0.520079 -0.573226
row8  -0.362978 -0.137292
row9   2.071926 -1.207104
row10 -0.251132 -1.987013

In [39]:
data = pd.read_csv("Automobile.csv")

In [41]:
data.head()
data.tail(4)

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [44]:
my_dataframe["col6"]=my_dataframe["col5"]*2 #pravi kolonu koja se zove "col6" sa datim pravilom
my_dataframe

           col1      col2      col3      col4      col5      col6
row1  -1.429960 -0.422057 -2.699671  0.910851  0.651849  1.303698
row2  -0.721126  0.905256  0.987047 -1.002845 -0.076849 -0.153698
row3  -1.602416 -1.325939 -0.232246 -0.012634  1.338199  2.676398
row4   0.705934  0.636298  2.387515 -0.458989  1.573588  3.147176
row5  -0.256346  0.117014 -0.555663  2.337522 -0.616541 -1.233082
row6  -0.776473  0.867676  1.041223  0.137781  0.840287  1.680575
row7  -0.520079 -0.460014 -0.573226  1.766776 -1.081582 -2.163163
row8  -0.362978  0.279202 -0.137292  0.197732  0.026514  0.053027
row9   2.071926  1.336749 -1.207104 -1.622328  1.321120  2.642240
row10 -0.251132  0.447229 -1.987013  0.123522  0.947523  1.895047

In [45]:
my_dataframe.drop("row1") #brise red row1

           col1      col2      col3      col4      col5      col6
row2  -0.721126  0.905256  0.987047 -1.002845 -0.076849 -0.153698
row3  -1.602416 -1.325939 -0.232246 -0.012634  1.338199  2.676398
row4   0.705934  0.636298  2.387515 -0.458989  1.573588  3.147176
row5  -0.256346  0.117014 -0.555663  2.337522 -0.616541 -1.233082
row6  -0.776473  0.867676  1.041223  0.137781  0.840287  1.680575
row7  -0.520079 -0.460014 -0.573226  1.766776 -1.081582 -2.163163
row8  -0.362978  0.279202 -0.137292  0.197732  0.026514  0.053027
row9   2.071926  1.336749 -1.207104 -1.622328  1.321120  2.642240
row10 -0.251132  0.447229 -1.987013  0.123522  0.947523  1.895047

In [56]:
my_dataframe.drop("col1",axis=1) #brise colonu col1, za kolone axis mora da bude 1!

           col2      col3      col4      col5      col6
row2   0.905256  0.987047 -1.002845 -0.076849 -0.153698
row3  -1.325939 -0.232246 -0.012634  1.338199  2.676398
row4   0.636298  2.387515 -0.458989  1.573588  3.147176
row5   0.117014 -0.555663  2.337522 -0.616541 -1.233082
row6   0.867676  1.041223  0.137781  0.840287  1.680575
row7  -0.460014 -0.573226  1.766776 -1.081582 -2.163163
row8   0.279202 -0.137292  0.197732  0.026514  0.053027
row9   1.336749 -1.207104 -1.622328  1.321120  2.642240
row10  0.447229 -1.987013  0.123522  0.947523  1.895047

** ako hocemo da drop fja izbrise red za stalno, moramo dodati inplace=True, inace promene ne ostaju

In [64]:

my_dataframe.drop("col2",axis=1,inplace=True)

In [65]:
my_dataframe

           col1      col3      col4      col5      col6
row3  -1.602416 -0.232246 -0.012634  1.338199  2.676398
row4   0.705934  2.387515 -0.458989  1.573588  3.147176
row5  -0.256346 -0.555663  2.337522 -0.616541 -1.233082
row6  -0.776473  1.041223  0.137781  0.840287  1.680575
row7  -0.520079 -0.573226  1.766776 -1.081582 -2.163163
row8  -0.362978 -0.137292  0.197732  0.026514  0.053027
row9   2.071926 -1.207104 -1.622328  1.321120  2.642240
row10 -0.251132 -1.987013  0.123522  0.947523  1.895047